source ~/.bash/git-prompt.sh
PS1='\u@\h:\W$(__git_ps1 " (%s)")\$ '

export APP_NET=app-net

export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which javac))))

export M2_HOME=/opt/maven
export MAVEN_HOME=/opt/maven
export PATH="$MAVEN_HOME/bin:/opt/homebrew/bin:$PATH"

source ~/.aliases

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

export CLICOLOR=1

loc () {
	wc -l $(find ./ -name "$1")
}

sha256_verify () {
        checksum=`openssl sha -sha256 "$1" | cut -d "=" -f 2 | xargs echo`
        if [ "$checksum" == "$2" ]
        then
            echo "Checksum matches"
        else
             echo "Actual checksum: $checksum do not match expected checksum $2"
        fi
}

sha256_check () {
        echo "$2 $1" | sha256sum -c;
}

docker_logs () {
        docker container logs -f $1;
}

# Powerline
if [ -f {{ powerline.bindings.path }} ]; then
  powerline-daemon -q
  POWERLINE_BASH_CONTINUATION=1
  POWERLINE_BASH_SELECT=1
  source {{ powerline.bindings.path }}
fi